
SIM.TP1/*
*.cache

SIM.TP3/*

SIM.TP3/.vs/SIM.TP3/v15/.suo
SIM.TP4/.vs/SIM.TP4/v15/.suo
SIM.TP4/.vs/SIM.TP4/v15/Server/sqlite3/db.lock
SIM.TP4/.vs/SIM.TP4/v15/Server/sqlite3/storage.ide
SIM.TP4/.vs/SIM.TP4/v15/Server/sqlite3/storage.ide-wal
SIM.TP4/.vs/SIM.TP4/v15/Server/sqlite3/storage.ide-shm
SIM.TP4/.vs/SIM.TP4/v15/.suo
SIM.TP4/.vs/SIM.TP4/v15/.suo
SIM.TP4/.vs/SIM.TP4/v15/.suo
SIM.TP5/SIM.TP5/.vs/SIM.TP5/v15/.suo
SIM.TP4/.vs/SIM.TP4/v15/.suo
SIM.TP4/.vs/SIM.TP4/v15/.suo
